<nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'homeView' %}">Social App</a>
        </div>
        <ul class="nav navbar-nav">
          <li class=""><a href="{% url 'homeView' %}">Home</a></li>

          <li><a href="{% url 'profileView' %}">Profile</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
    {% if user.is_authenticated %}

          <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{ user.email }}</a></li>
          <li><a href="{% url 'logoutView' %}"><span class="glyphicon glyphicon-log-in"></span> Logout </a></li>

    {% else %}

          <li><a href="{% url 'registerForm' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li><a href="{% url 'loginForm' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    {% endif %}
        </ul>
      </div>
    </nav>